<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to the A Team (With One I) Health Information System Interface</h1>
        <p>The time is @DateTime.Now</p>

        <p>All current appointments:</p>
        @{
            // Get the connection string from the web.config
            string cns = System.Configuration.ConfigurationManager.ConnectionStrings["sqlconnection"].ConnectionString;

            // Get the data from the database.  The 'using' statements will ensure tha the SqlClient objects
            //  are cleaned up properly and their resources released.
            using (System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection(cns))
            {
                connection.Open();
                using (System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand("SELECT * FROM Appointment"))
                {
                    using (System.Data.SqlClient.SqlDataAdapter adp = new System.Data.SqlClient.SqlDataAdapter(cmd))
                    {
                        System.Data.DataTable table = new System.Data.DataTable();
                        table.Columns.Add("username", typeof(string));
	                    table.Columns.Add("appointmentID", typeof(int));
	                    table.Columns.Add("facilityID", typeof(string));
	                    table.Columns.Add("Room", typeof(string));
                        adp.Fill(table);
                        var grid = new WebGrid(table);
                        grid.GetHtml();
                    }
                }
            }
       }
    </body>
</html>
