<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration>
  
<connectionStrings>
  <add 
    name="MyConnectionString" 
    connectionString="Data Source=park-home.duckdns.org,2052;Initial 
    Catalog=MyDatabase;User ID=sa;Password=eYylnk0CG18L"
    providerName="System.Data.SqlClient"
  />
<appSettings>
    <add key="webPages:Version" value="1.0"/>
  </appSettings>
</connectionStrings>
<!--
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=park-home.duckdns.org,2052;Initial Catalog=;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
  </system.web>
</configuration>