@helper menu(string url) {
    string[] titles = {"Home", "Ailments", "Employees", "Appointments", "Schedule"};
    string[] links = {"/", "/ailments", "/employees", "/appointments", "/schedule"};
    <section class="top-bar-section">
        <ul class="right">
            @for (int i = 0; i < titles.Length; ++i) {
                <li@(url == links[i]?" class=active":"" )> <a href="@links[i]">@titles[i]</a></li>    
            }
        </ul>
    </section>
}

@helper authorize(params int[] args)
{
    
    int current_level = Session["level"]!=null?(int) Session["level"]:0;
    
    if (!args.Contains(current_level)) {
        Response.Redirect("login?target=" + @Request.FilePath);
        Response.End();
    }
}
