@helper menu(string url) {
    string[] titles = {"Home", "Ailments"};
    string[] links = {"/", "/ailments"};
    <section class="top-bar-section">
        <ul class="right">
            @for (int i = 0; i < titles.Length; ++i) {
                <li@(url == links[i]?" class=active":"" )> <a href="@links[i]">@titles[i]</a></li>    
            }
        </ul>
    </section>
}

@helper authorize(params int[] args)
{
    
    int current_level = Session["level"]!=null?(int) Session["level"]:0;
    
    if (!args.Contains(current_level)) {
        <script>
            console.log("login failed");
            window.location.href = "@("login?target=" + @Request.FilePath)";
        </script>
    }
}
