@helper menu(string url) {
    string[] titles = { "Home", "Patient Profile", "Ailments", "Employees", "Medical Professionals", "Appointments", "Schedule" };
    string[] links = { "/", "patient_profile", "/ailments", "/employees", "/medicalprofessionals", "/appointments", "/schedule" };
    <section class="top-bar-section">
        <ul class="right">
            @for (int i = 0; i < titles.Length; ++i) {
                <li@(url.Equals(links[i])?" class=active":"" )> <a href="@links[i]">@titles[i]</a></li>    
            }
        </ul>
    </section>
}

@helper authorize(params int[] args)
{
    
    int current_level = Session["level"]!=null?(int) Session["level"]:0;
    
    if (!args.Contains(current_level)) {
        Response.Redirect("login?target=" + @Request.FilePath);
        Response.End();
    }
}
